<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="69536120589-u4teijii3c498mncv7o0vj8j03uarvoa.apps.googleusercontent.com">
    <link rel="stylesheet" href="../Public/styles/style.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body class="h-full text-white bg-[#0e0e0e] overflow-hidden">
    <section class="flex items-center h-screen">
        <div class="flex justify-center w-[65%]">
            <!-- <img src="images/easyXerox.png" alt="" class="w-56"> -->
            <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
            <div class="flex flex-col text-xl leading-10 w-[50%]">
                <div class="">
                    <h1 class="mb-3 text-4xl ">Sign in</h1>
                    <p class="text-[#cccccc]">New to Easy-Xerox? <a href="./register.html" class="text-red-500">Register here.</a></p>
                </div>
                <form action="" class="">
                <div>
                    <input type="email" name="Email" value="" placeholder="Enter your email" class="shadow-sm w-full placeholder:text-[#cccccc] placeholder:text-lg mt-8 border-[#cccccc] border bg-transparent  rounded-xl">
                </div>
                <div>
                    <input type="password" name="password" placeholder="password" class="shadow-sm w-full placeholder:text-lg placeholder:text-[#cccccc] mt-10 border-[#cccccc] border bg-transparent  rounded-xl">                      
                </div>
                <p class="text-[#cccccc] my-5 text-[1.1rem] hover:text-red-700">Forgot your password?</p>
                <button type="submit" class="w-full py-1.5 text-xl bg-red-700 rounded-lg">Sign in</button>
            </form> 
            </div> 
        </div>
        <div class="w-[35%]">
            <div class="grid w-1/2 h-screen m-auto border-l place-content-center border-[#444444]">
                <img src="../images/easyXerox.png" alt="" class="w-[20rem] bg-[#0e0e0e] p-3 animate-backInRight relative right-[8.4rem]"> 
            </div>
        </div>
    </section>
</body>
</html>